<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.auction.mapper.AuctionrecordMapper">
  <resultMap id="BaseResultMap" type="com.gec.auction.pojo.Auctionrecord">
    <!--@mbg.generated-->
    <!--@Table auctionrecord-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="auctionId" jdbcType="INTEGER" property="auctionid" />
    <result column="auctionTime" jdbcType="TIMESTAMP" property="auctiontime" />
    <result column="auctionPrice" jdbcType="DECIMAL" property="auctionprice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, userId, auctionId, auctionTime, auctionPrice
  </sql>
  <select id="selectByExample" parameterType="com.gec.auction.pojo.AuctionrecordExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from auctionrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from auctionrecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from auctionrecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gec.auction.pojo.AuctionrecordExample">
    <!--@mbg.generated-->
    delete from auctionrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gec.auction.pojo.Auctionrecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into auctionrecord (userId, auctionId, auctionTime, 
      auctionPrice)
    values (#{userid,jdbcType=INTEGER}, #{auctionid,jdbcType=INTEGER}, #{auctiontime,jdbcType=TIMESTAMP}, 
      #{auctionprice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gec.auction.pojo.Auctionrecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into auctionrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="auctionid != null">
        auctionId,
      </if>
      <if test="auctiontime != null">
        auctionTime,
      </if>
      <if test="auctionprice != null">
        auctionPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="auctionid != null">
        #{auctionid,jdbcType=INTEGER},
      </if>
      <if test="auctiontime != null">
        #{auctiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="auctionprice != null">
        #{auctionprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gec.auction.pojo.AuctionrecordExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from auctionrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update auctionrecord
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.auctionid != null">
        auctionId = #{record.auctionid,jdbcType=INTEGER},
      </if>
      <if test="record.auctiontime != null">
        auctionTime = #{record.auctiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auctionprice != null">
        auctionPrice = #{record.auctionprice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update auctionrecord
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      auctionId = #{record.auctionid,jdbcType=INTEGER},
      auctionTime = #{record.auctiontime,jdbcType=TIMESTAMP},
      auctionPrice = #{record.auctionprice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gec.auction.pojo.Auctionrecord">
    <!--@mbg.generated-->
    update auctionrecord
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="auctionid != null">
        auctionId = #{auctionid,jdbcType=INTEGER},
      </if>
      <if test="auctiontime != null">
        auctionTime = #{auctiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="auctionprice != null">
        auctionPrice = #{auctionprice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gec.auction.pojo.Auctionrecord">
    <!--@mbg.generated-->
    update auctionrecord
    set userId = #{userid,jdbcType=INTEGER},
      auctionId = #{auctionid,jdbcType=INTEGER},
      auctionTime = #{auctiontime,jdbcType=TIMESTAMP},
      auctionPrice = #{auctionprice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update auctionrecord
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="userId = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.userid,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="auctionId = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.auctionid,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="auctionTime = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.auctiontime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="auctionPrice = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.auctionprice,jdbcType=DECIMAL}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update auctionrecord
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="userId = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userid != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.userid,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="auctionId = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.auctionid != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.auctionid,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="auctionTime = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.auctiontime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.auctiontime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="auctionPrice = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.auctionprice != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.auctionprice,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into auctionrecord
    (userId, auctionId, auctionTime, auctionPrice)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.userid,jdbcType=INTEGER}, #{item.auctionid,jdbcType=INTEGER}, #{item.auctiontime,jdbcType=TIMESTAMP}, 
        #{item.auctionprice,jdbcType=DECIMAL})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.gec.auction.pojo.Auctionrecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into auctionrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      userId,
      auctionId,
      auctionTime,
      auctionPrice,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{userid,jdbcType=INTEGER},
      #{auctionid,jdbcType=INTEGER},
      #{auctiontime,jdbcType=TIMESTAMP},
      #{auctionprice,jdbcType=DECIMAL},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      userId = #{userid,jdbcType=INTEGER},
      auctionId = #{auctionid,jdbcType=INTEGER},
      auctionTime = #{auctiontime,jdbcType=TIMESTAMP},
      auctionPrice = #{auctionprice,jdbcType=DECIMAL},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.gec.auction.pojo.Auctionrecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into auctionrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="auctionid != null">
        auctionId,
      </if>
      <if test="auctiontime != null">
        auctionTime,
      </if>
      <if test="auctionprice != null">
        auctionPrice,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="auctionid != null">
        #{auctionid,jdbcType=INTEGER},
      </if>
      <if test="auctiontime != null">
        #{auctiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="auctionprice != null">
        #{auctionprice,jdbcType=DECIMAL},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="auctionid != null">
        auctionId = #{auctionid,jdbcType=INTEGER},
      </if>
      <if test="auctiontime != null">
        auctionTime = #{auctiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="auctionprice != null">
        auctionPrice = #{auctionprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2022-02-18-->
  <delete id="deleteByAuctionid">
    delete from auctionrecord
    where auctionId=#{auctionid,jdbcType=INTEGER}
  </delete>
</mapper>